@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.App {
  margin-top: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


//Login Main Container
.login {
  width: 24em;
  height: 40em;
  min-height: 39em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  position: relative;
  z-index: 99;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 100%;
    padding: 40px 0px 0px 0px;
    //transition: transform 200ms ease-in-out;
  }
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  border: 0;
  background-color: #3498db;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #2386c8;
  }
  &:focus {
    outline: none;
  }
}

.message-dialog {
    z-index: 900;

    background: rgb(252, 252, 252);
    box-shadow: 0px 3px 30px rgba(0, 120, 212, 0.3);
    border: 1px solid rgba(0, 120, 212, 0.3);
    border-radius: 6px;

    margin: 0px auto;
    margin-bottom: -80px;
    padding: 0px 20px 20px 20px;
    max-width: 500px;
    width:300px;
    position: absolute;
    left: 20px;

    transition: all 0.4s;
    transform-origin: 50% 20%;
}

.question-dialog code, .generic-dialog code, .message-dialog code {
  font-family: 'Fira Mono', serif;
    font-size: 14px;
    font-weight: 500;
    background: rgba(0, 120, 212, 0.1);
    border: 1px solid rgba(0, 120, 212, 0.25);
    border-radius: 2px;
    padding: 0px 1px;
    margin: 0px 1px 0px 1px;
}

.message-dialog .message-dialog-icon:before {
    content: ""
}

.error-dialog {
    background: rgb(245, 240, 240);
    box-shadow: 0px 3px 30px  rgba(180, 40, 40, 0.3);
    border: 1px solid rgb(240, 180, 180);
}

.error-dialog .message-dialog-title {
    color: rgb(180, 40, 40);
}

.error-dialog code {
    font-family: 'Fira Mono',serif;
    font-size: 14px;
    font-weight: 500;
    background: rgba(210, 60, 60, 0.2);
    border: 1px solid rgba(180, 40, 40, 0.2);
    border-radius: 2px;
    padding: 0px 1px;
    margin: 0px 1px 0px 1px;
}

.error-dialog .message-dialog-icon:before {
    content: ""
}

.warning-dialog {
    background: rgb(245, 243, 238);
    box-shadow: 0px 3px 30px  rgba(255, 170, 60, 0.3);
    border: 1px solid rgb(255, 170, 60);
}

.warning-dialog .message-dialog-title {
    color: rgb(255, 170, 60);
}

.warning-dialog code {
  font-family: 'Fira Mono', serif;
    font-size: 14px;
    font-weight: 500;
    background: rgba(255, 170, 60, 0.2);
    border: 1px solid rgba(220, 100, 20, 0.2);
    border-radius: 2px;
    padding: 0px 1px;
    margin: 0px 1px 0px 1px;
}

.warning-dialog .message-dialog-icon:before {
    content: ""
}

.success-dialog {
    background: #eef5ef;
    box-shadow: 0px 3px 30px  rgba(30, 140, 80, 0.3);
    border: 1px solid rgb(30, 140, 80);
}

.success-dialog .message-dialog-title {
    color: rgb(30, 140, 80);
}

.success-dialog code {
    font-family: 'Fira Mono',serif;
    font-size: 14px;
    font-weight: 500;
    background: rgba(30, 140, 80, 0.15);
    border: 1px solid rgba(30, 140, 80, 0.3);
    border-radius: 2px;
    padding: 0px 1px;
    margin: 0px 1px 0px 1px;
}

.success-dialog .message-dialog-icon:before {
    content: ""
}

.question-dialog .message-dialog-icon:before {
    content: ""
}

.message-dialog-show{
    transform: scale(1);
}

.message-dialog-hide {
    transform: scale(0);
}

.message-dialog-title {
    margin: 0px auto;
    color: var(--primary-color);
    padding: 15px 0px;
    font-family: var(--font-condensed);
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
}

.message-dialog-title p {
    margin: 0px 0px auto 0px;
}

.message-dialog-title i {
    transform: translateY(1px) !important;
    margin: 0px 4px 0px 0px;
}

.info-dialog .message-dialog-icon:before {
    content: ""
}

.message-dialog-title button {
    border-radius: 50%;
    border: 0px;
    background: none;
    color: rgba(40, 40, 40, 0.5);
    width: 24px;
    height: 24px;
    margin: 0px 0px 0px auto;
    padding: 0px;
    display: flex;
    cursor: pointer;
    transition: var(--animation-quick);
}

.message-dialog-title button:hover {
    color: rgb(40, 40, 40);
}

.message-dialog-title button i {
    display: inline-block;
    font-size: 11px;
    margin: auto;
}

.message-dialog-content {
    margin: 0px;

    font-family: var(--font-condensed);
    font-size: 18px;
}

.message-dialog-buttons {
    display: flex;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
    justify-content: flex-end;
}

.message-dialog-buttons button {
    margin: 0px 0px 0px 10px !important;
}

.form-error-highlight, .form-error-check-highlight {
    border: 1px solid rgb(180, 40, 40) !important;
    color: rgb(180, 40, 40) !important;
    border-radius: 0px 2px 2px 2px;
}

.form-error-highlight + .form-label {
    background: rgb(180, 40, 40) !important;
    color: #fff !important;
    padding: 0px 6px !important;
    margin-bottom: -1px;
    border-radius: 2px 2px 0px 0px;
}

.form-error-check-highlight .form-label {
    background: rgb(180, 40, 40) !important;
    color: #fff !important;
    padding: 0px 6px !important;
    margin-bottom: -1px;
    border-radius: 2px 2px 0px 0px;
}
.form-error-highlight, .form-error-check-highlight {
    border: 1px solid rgb(180, 40, 40) !important;
    color: rgb(180, 40, 40) !important;
    border-radius: 0px 2px 2px 2px;
}

.form-error-highlight + .form-label {
    background: rgb(180, 40, 40) !important;
    color: #fff !important;
    padding: 0px 6px !important;
    margin-bottom: -1px;
    border-radius: 2px 2px 0px 0px;
}

.form-error-check-highlight .form-label {
    background: rgb(180, 40, 40) !important;
    color: #fff !important;
    padding: 0px 6px !important;
    margin-bottom: -1px;
    border-radius: 2px 2px 0px 0px;
}


////////////////////////////////////////////////////////////////////////


.form-success-highlight, .form-success-check-highlight {
    border: 1px solid rgb(40, 90, 60) !important;
    opacity: 0.6;
    color: rgb(40, 90, 60) !important;
    border-radius: 0px 2px 2px 2px;
}

.form-success-highlight + .form-label {
    background: rgb(40, 90, 60) !important;
    opacity: 0.6;
    color: #fff !important;
    padding: 0px 6px !important;
    margin-bottom: -1px;
    border-radius: 2px 2px 0px 0px;
}

.form-success-check-highlight .form-label {
    background: rgb(40, 90, 60) !important;
    opacity: 0.6;
    color: #fff !important;
    padding: 0px 6px !important;
    margin-bottom: -1px;
    border-radius: 2px 2px 0px 0px;
}
.form-success-highlight, .form-success-check-highlight {
    border: 1px solid rgb(40, 90, 60) !important;
  opacity: 0.6;
  color: rgb(40, 90, 60) !important;
    border-radius: 0px 2px 2px 2px;
}

.form-success-highlight + .form-label {
    background: rgb(40, 90, 60) !important;
    color: #fff !important;
    padding: 0px 6px !important;
    margin-bottom: -1px;
    border-radius: 2px 2px 0px 0px;
}

.form-success-check-highlight .form-label {
    background: rgb(40, 90, 60) !important;
    color: #fff !important;
    padding: 0px 6px !important;
    margin-bottom: -1px;
    border-radius: 2px 2px 0px 0px;
}

